.button {
  display: inline;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 51px;
  padding-right: 51px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
  background-color: var(--accent-color);
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  transition-property: box-shadow, color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  will-change: box-shadow, color, background-color;

}

/* TODO:  hover надо сделать только для мобилок */
.button:hover, .button:focus {
  outline: none;
  box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
  background-color: #fff;
  color: var(--accent-color);
}

.button:active {
  outline: none;
  box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
}
