<main class="main">
  <form class="form" id="form">
    <div id="caption" class="caption"></div>
    <input id="input" required="required" type="text" class="input" />
    <button id="add-item" class="button button-add">add task</button>
    <button id="save-item" class="button button-save">save</button>
  </form>
  <ul id="list" class="todo-list"></ul>
</main>
