
// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1680px;

// Colors
$main-font-family: "Gotham Pro", sans-serif;
$accent-color: #ed4159;
$shadow-btn-color: rgba(237, 65, 89, 0.4);

// Fonts
$text-color: #262626cc;
