@import "../../styles/variables.scss";

.field {
  box-sizing: border-box;
  width: 100%;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;

  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  text-overflow: ellipsis;

  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;

  transition: border-color 0.3s ease-out;

  will-change: border-color;
}

.field:focus {
  border-color: #d9d9d9;
  outline: none;
}

.field--error {
  color: $accent-color;

  border-color: $accent-color;
}

.field--error:focus {
  border-color: $accent-color;
}
