.App {
  height: 100vh;
  background-image: linear-gradient(151deg, #ff435d, #b0208e);
  text-align: center;
  /* background-image: url('./images/background.jpg'); */
  /* TODO: для десктопа вставит картинку */
}

.App__logo {
  margin-top: 44px;
  margin-left: -5px; /* Для того что бы попасть в ПП */
}

.App__form {
  margin-top: 33px;
}
