.caption {
  display: none;
}

.caption--show {
  display: block;
  padding: 14px 15px;

  text-align: left;

  background-color: rgba(237, 65, 89, 0.25);
  border-radius: 4px;
}

.caption__text {
  margin: 0;

  font-weight: 500;
  font-size: 12px;
  color: var(--accent-color);
}
