.form__title {
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: bold;
}

.form__field {
  margin-bottom: 24px;
}

.form__caption {
  margin-bottom: 24px;
}

.form__button {
  margin-top: 16px;
  width: 146px;
  height: 48px;
}
