@import "../../styles/variables.scss";

.form__title {
  margin-bottom: 31px;

  font-weight: bold;
  font-size: 20px;

  @media (min-width: $desktop) {
    margin-bottom: 49px;

    font-size: 24px;
  }
}

.form__field {
  margin-bottom: 24px;

  @media (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.form__caption {
  margin-bottom: 24px;

  @media (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.form__button {
  width: 146px;
  height: 48px;
  margin-top: 16px;
}
